@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Chewy&family=Comic+Relief:wght@400;700&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Chewy", cursive;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
@theme {
  --color-primary: #faf8f1;
}

@layer base {
  :root {
    --color-bg-base: #ffffff;
    --color-text-base: #46484a;
  }
  .dark {
    --color-bg-base: rgb(55, 54, 54);
    --color-text-base: #e5e7eb;
  }

  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.5s ease;
    background-image: url("../src/assets/bgcat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    background-position-x: 50%;
    background-position-y: 50%;
  }

  .dark body {
    background-image: url("../src/assets/black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* filter: brightness(0.8); */
  }
}

.handwriting {
  font-family: "Caveat", cursive;
}

@layer components {
  .btnStyle {
    @apply rounded-full bg-gradient-to-r from-yellow-500 to-orange-400 
           dark:from-gray-800 dark:to-gray-800 text-white/90 font-bold 
           shadow-md hover:scale-105 hover:shadow-lg active:scale-95 
           transition-all;
  }
}

.contactformFont {
  font-family: "Poppins", sans-serif;
}

.navbarFont {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.socialIconStyle {
  @apply hover:text-amber-600 hover:drop-shadow-[0_0_6px_#fbbf24]  dark:hover:text-blue-300 dark:hover:drop-shadow-[0_0_6px_#cfecf7]  transition-all;
}

.contactIconStyle {
  @apply hover:text-amber-600 dark:hover:text-blue-300 transition-all;
}
