@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Chewy", cursive;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}
@theme {
  --color-primary: #faf8f1;
}

@layer base {
  :root {
    --color-bg-base: #ffffff;
    --color-text-base: #46484a;
  }
  .dark {
    --color-bg-base: rgb(55, 54, 54);
    --color-text-base: #ececf2;
  }

  body {
    background-color: var(--color-bg-base);
    color: var(--color-text-base);
    transition: background-color 0.3s ease, color 0.3s ease, filter 0.5s ease;
    background-image: url("../src/assets/bgcat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

    background-position-x: 50%;
    background-position-y: 50%;
  }

  .dark body {
    background-image: url("../src/assets/black.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* filter: brightness(0.8); */
  }

  @media (max-width: 1024px) {
    body,
    .dark body {
      background-attachment: scroll !important;
      background-size: contain !important;
      background-position: top center !important;
    }
  }
}
